<!-- **************  Header *********************** -->
<!-- **** Nav ***** -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">

    <a class="navbar-brand" *ngIf="authenticated" [routerLink]="['/home']" id="logo" style="padding: 0">
        <img src="assets/images/logooo.jpeg" style="border-radius: 50%;" height="50px">
    </a>
    <a class="navbar-brand" *ngIf="!authenticated" [routerLink]="['/home']" id="logo" style="padding: 0">
        <img src="assets/images/logooo.jpeg" style="border-radius: 50%;" height="50px">

    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="position: relative;">
        <ul class="navbar-nav  mr-auto" *ngIf="!authenticated">
            <li class="nav-item active ">
                <a class="nav-link" [routerLink]="['/home']"> الرئيسية </a>
            </li>
            <li class="nav-item mr-5">
                <a [routerLink]="['/contactus']" class="hvr-hang nav-link"> اتصل بنا </a>
            </li>
            <li class="nav-item  mr-5">
                <a [routerLink]="['/questions']" class="hvr-hang nav-link"> الأسئلة المتكررة </a>
            </li>
            <li class="nav-item mr-5">
                <a [routerLink]="['/reviews']" class="hvr-hang nav-link"> أراء المستخدمين </a>
            </li>
            <li class="nav-item mr-5">
                <a [routerLink]="['/aboutus']" class="hvr-hang nav-link"> من نحن
                </a>
            </li>




        </ul>



        <ul class="navbar-nav mr-auto" *ngIf="authenticated">

            <li class="nav-item active  mr-5">
                <a class="nav-link" [routerLink]="['/home']"> الرئيسية </a>

            </li>

            <li class="nav-item   mr-5">
                <a class="hvr-hang nav-link" [routerLink]="['/availableoffer']">
                    <i class="fa fa-hand-holding-heart"></i> كـــل العروض </a>
            </li>

            <li class="nav-item  mr-5 ">
                <a class="hvr-hang nav-link" [routerLink]="['/useroffer']">
                    <i class="fa fa-handshake"></i> عــــروضى </a>
            </li>

            <li class="nav-item  mr-5">
                <a class="hvr-hang nav-link" [routerLink]="['/userneed']">
                    <i class="fa fa-hand-holding-heart"></i> طلباتــى </a>
            </li>

            <!-- <img src="http://127.0.0.1:8000{{image}}"
                style="border-radius: 50%; width: 50px; height: 50px" /> -->



        </ul>


        <ul   class="navbar-nav mr-auto"*ngIf="authenticated">
            <li class="nav-item active">
                <a class="hvr-hang nav-link" [routerLink]="['/afterlogin']">
                    <i class="fa fa-user-circle"></i> {{message}} </a>
            </li>
        </ul>
    
        <form class="form-inline " *ngIf="authenticated">
            <a [routerLink]="['/login']" class="btn btn-success mr-2" (click)="logout()">تسجيل الخروج</a>
        </form>
      

        <form class=" mr-auto" *ngIf="!authenticated">
            <a [routerLink]="['/login']" class="btn btn-success" (click)="handleLogin()">دخول</a>
            <a [routerLink]="['/register']" class="btn btn-success   mr-2">تسجيل</a>
        </form>

    </div>


   




    

</nav>
<br> <br> <br>
<!-- **** /end Nav ***** -->
<!--************************** /end Header ***************-->