
<!-- ***************** Footer **************** -->
    <!-- Start Footer -->
    <section id="footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-4 col-xs-6 text-center" id="history">
                  <h2 class="text-success">الناس للـــــناس</h2>
                  <p class="lead">معا نستطيع <br> التعاون هو الحل الأمثل</p>
              </div>
              <div class="col-sm-4 hidden-xs text-center">
                  <h3 class="text-success">روابط سريعة</h3>
                  <ul class="list-unstyled" id="pages">
                      <li><a  [routerLink]="['/contactus']">اتصل بنا </a></li>
                      <li><a href="#">حسابي</a></li>
                      <li><a href="#">الأقسام</a></li>
                  </ul>
              </div>
              <div class="col-sm-4 col-xs-6">
                  <h3 class="text-center text-success">تابعنا</h3>
                  <ul class="list-unstyled text-center" id="social">
                      <li><a href="#" target="_blank" id="s1"><i class="fab fa-facebook fa-2x"></i></a></li>
                      <li><a href="#" target="_blank" id="s2"><i class="fab fa-twitter fa-2x"></i></a></li>
                      <li><a href="#" target="_blank" id="s4"><i class="fab fa-google-plus fa-2x"></i></a></li>
                      <li class="#"><a target="_blank" id="s3"><i class="fab fa-whatsapp fa-2x"></i></a></li>
                      <li><a href="#" target="_blank" id="s6"><i class="fab fa-instagram fa-2x"></i></a></li>
                  </ul>
              </div>
          </div>
          <hr>
          <div id="rights">
              <p class="col-xs-12 text-center">
                 كل حقوق النشر محفوظة  © 2021 الناس للـــــناس
              </p>
          </div>
      </div>
      </section>
      <!-- *************** /end Footer **************** -->
          <!-- /Footer -->
          <!-- Loading -->

          <!-- /Loading -->
          <!-- Scroll Top -->
          <div id="scrolltop" style="display: block;">
              <i class="fa fa-chevron-up"></i>
          </div>
          <!-- /Scroll Top -->
          <!-- Js -->

