<div class="section">

    <section id="Register">
        <div id="registering">
            <div class="container text-center">
                <div class="col-8 mr-auto ml-auto" id="regis">
                    <h1 id="registerh">تسجيل عضوية</h1>
                    <img src="assets/images/registerlogo.gif" class="img-circle" height="100px" width="100px"
                        style="border-radius: 50%">
                    <p class="lead">كل هدفنا كيف نجعلك سعيد</p>




                    <main class="form-signin">
                        <form #myFrm="ngForm" [formGroup]="form" (submit)="submit()">
                            <h1 class="h3 mb-3 fw-normal"> سجـــل عضـــويه اﻻن!</h1>

                            <div class="form-floating">
                                <input formControlName="name" class="form-control" placeholder="اﻻســــم" required
                                    minlength="3">
                            </div>
                            <br>
                            <!-- /////// -->
                            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">

                                <div *ngIf="f.name.errors.required">اﻻســــم حقل ضـرورى</div>

                                    </div>
                                    <div class="form-floating">
                                        <input formControlName="email" type="email" class="form-control"
                                            placeholder="name@example.com" required minlength="3">
                                    </div>
                                    <br>
                                    <!-- /// -->


                                    <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">

                                        <div *ngIf="f.email.errors.required">البريد اﻻلكترونى حقل ضـرورى</div>

                                    </div>

                                    <!-- \\//// -->
                                    <div class="form-floating">
                                        <input formControlName="password" type="password" class="form-control"
                                            placeholder="كلمـــة المرور" required minlength="3">
                                    </div>

                                    <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">

                                        <div *ngIf="f.password.errors.required">كلمـــة المرور حقل ضـرورى</div>

                                    </div>


                                    <button class="w-100 btn btn-lg btn-primary" [disabled]="myFrm.invalid"  type="submit">سجـــل دخولك</button>
                        </form>

                    </main>



                </div>
            </div>
        </div>
    </section>
    <!-- end content -->
    <!-- /Content -->
</div>
