<!-- <div class="container">

    
    <h2>{{offer.name}}</h2>
                  
    <h2>{{offer.place}}</h2>
    <h2>{{offer.description}}</h2>
    <h2>{{offer.user_id}}</h2>
    <h2>{{offer.Cat_id}}</h2>
      
  </div> -->


<body dir="rtl" style="overflow: auto">
  <!-- Header -->

  <!-- /Header -->
 

    <div id="top2">
      <h1>تفاصيل العرض</h1>
      <p>نتمتي أن نستطيع مساعدتكم .</p>
    </div>

    <div class="container">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <h3 class="text-warning text-right col-7"> صاحب العرض: {{username}}</h3>
            <small class="text-secondary fa fa-clock col-5 mt-3">
              {{offer.date}}</small>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="imaging col-md-6">
              <img src="http://127.0.0.1:8000{{offer.image}}" style="border: 6px solid #dbdcdd; border-radius: 5px"
                width="100%" height="400px" />
            </div>
            <div class="details text-right col-md-6 text-secondary mt-3">
              <div>
                <label class="fa fa-hand-holding-heart"> اسم المنتج :</label>
                <h4 class="text-info mr-2">
                  <span class="fa fa-angle-left"></span>
                  {{offer.name}}
                </h4>
              </div>
              <div>
                <label class="fa fa-user"> صاحب العرض :</label>
                <h4 class="text-info mr-2">
                  <span class="fa fa-angle-left"></span>
                  {{username}}
                </h4>
              </div>
              <div>
                <label class="fa fa-cubes"> اسم القسم :</label>
                <h4 class="text-info mr-2">
                  <span class="fa fa-angle-left"></span>
                  {{catName}}
                </h4>
              </div>
              <div>
                <label class="fa fa-map-marker-alt">
                  المكان :
                  <!-- <small class="mr-5"
                      ><a href="#map" class="text-secondary"
                        >تحديد علي الخريطة</a
                      ></small -->
                  <!-- > -->
                </label>
                <h4 class="text-info mr-2">
                  <span class="fa fa-angle-left"></span>
                  {{offer.place}}
                </h4>
              </div>
              <div>
                <label class="fa fa-pen"> الوصف :</label>
                <h5 class="text-info mr-2">
                  <span class="fa fa-angle-left"></span>
                  {{offer.description}}
                </h5>
              </div>
              <div>
                <label class="fa fa-pen"> رقـــم هاتف صاحب العرض:</label>
                <h5 class="text-info mr-2">
                  <span class="fa fa-angle-left"></span>
                  {{offer.phone}}
                </h5>
              </div>
              <div class="mt-4">
                <!-- <a
                    href="#"
                    class="btn btn-success col-5 takeOffer"
                    role="button"
                  >
                    <i class="fas fa-clipboard-check"></i> حجز الآن
                  </a> -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<br>
  </body>

    <!-- end content -->
    <!-- /Content -->