<!-- Header -->

<!-- /Header -->
<div class="section">
    <!-- Content -->
    <!-- Flash Message -->
    <!-- /Flash Message -->
    <!-- start content -->
    <!-- <section id="Review"> -->
        <!-- <div id="content2">
            <div class="container">
                <div id="top">
                    <h1>أراء المستخدمين</h1>
                    <p>
                        في هذه الصفحة يتم نشر أراء المستخدمين بشكل حيادي طالما كانت هذه الأراء قابلة للنشر نتمي المشاركة
                        بوجهات نظركم .
                    </p>
                </div> -->
                <!-- <div id="reviewing" class="row">
                    <div class="alert alert-primary col-12">
                        <h4 class="text-center">لا توجد أراء من المستخدمين حتي الآن <i class="fas fa-heart-broken"></i>
                        </h4>
                    </div>
                </div> -->
           
             <!-- user reviews -->
     
           
            <!-- </div>
        </div> -->
    <!-- </section> -->
    <br>
    <h1 class="text-center">أراء المستخدمين</h1>
    <!-- <div class="alert alert-primary col-12">
        <h4 class="text-center">لا توجد أراء من المستخدمين حتي الآن <i class="fas fa-heart-broken"></i>
        </h4>
    </div> -->
    <div class="alert alert-primary text-center">
        في هذه الصفحة يتم نشر أراء المستخدمين بشكل حيادي طالما كانت هذه الأراء قابلة للنشر نتمي المشاركة
        بوجهات نظركم .
    </div>
    <div class="container">
    <section class="review">
        <div class="row">
            <div id="top2" >
                
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4">
                <div id="p1">
                    <blockquote id="user1">
                        <p>
                            <q> هذا الموقع يساعدني في العثور على الكثير من الأشياء التي أريدها</q>
                        </p>
                        <img src="assets/images/r9.jpg" width="80px" height="80px" />
                    </blockquote>
                </div>

                <div id="p1">
                    <blockquote id="user2">
                        <p>
                            <q> هذا الموقع يساعدني في العثور على الكثير من الأشياء التي أريدها</q>
                        </p>
                        <img src="assets/images/review1.jpg" width="80px" height="80px" />
                    </blockquote>
                </div>

                <!-- <div id="p1">
                    <blockquote id="user3">
                        <p>
                            <q>It is a nice feeling to help people you don't know them and
                                don't wait any money , thanks alot to you.</q>
                        </p>
                        <img src="assets/images/rev1.jpg" width="80px" height="80px" />
                    </blockquote>
                </div> -->
            </div>

            <div class="col-sm-4">
                <div id="p1">
                    <blockquote id="user1">
                        <p>
                            <q> هذا الموقع يساعدني في العثور على الكثير من الأشياء التي أريدها</q>
                        </p>
                        <img src="assets/images/r7.jpg" width="80px" height="80px" />
                    </blockquote>
                </div>

                <div id="p1">
                    <blockquote id="user2">
                        <p>
                            <q> هذا الموقع يساعدني في العثور على الكثير من الأشياء التي أريدها</q>
                        </p>
                        <img src="assets/images/review2.jpg" width="80px" height="80px" />
                    </blockquote>
                </div>

                <!-- <div id="p1">
                    <blockquote id="user3">
                        <p>
                            <q>It is a nice feeling to help people you don't know them and
                                don't wait any money , thanks alot to you.</q>
                        </p>
                        <img src="assets/images/review3.jpg" width="80px" height="80px" />
                    </blockquote>
                </div> -->
            </div>

            <div class="col-sm-4">
                <div id="p1">
                    <blockquote id="user1">
                        <p>
                            <q> هذا الموقع يساعدني في العثور على الكثير من الأشياء التي أريدها</q>
                        </p>
                        <img src="assets/images/review4.jpg" width="80px" height="80px" />
                    </blockquote>
                </div>

                <div id="p1">
                    <blockquote id="user2">
                        <p>
                            <q> هذا الموقع يساعدني في العثور على الكثير من الأشياء التي أريدها</q>
                        </p>
                        <img src="assets/images/review5.jpg" width="80px" height="80px" />
                    </blockquote>
                </div>

                <!-- <div id="p1">
                    <blockquote id="user3">
                        <p>
                            <q>It is a nice feeling to help people you don't know them and
                                don't wait any money , thanks alot to you.</q>
                        </p>
                        <img src="assets/images/review6.jpg" width="80px" height="80px" />
                    </blockquote>
                </div> -->
            </div>
        </div>
    </section>
</div>
    <!-- end content -->
    <!-- /Content -->
</div>


<br><br>